<div class="jumbotron jumbotron-fluid" id="main-header" >
  <div class="container ">
    <div class="row" style="height: 300px !important">
      <div class="col-md-12 align-self-center">
        <h1 class="text-center" >
          The Menu
        </h1>
      </div>
    </div>
  </div>
</div>
<br/>
<div class="container menu">
  <div class="row">
    <div class="col-xl-12">
      <div class="card emporium">
        <div class="card-body">
          <div class="text-center">
            <button class="btn btn-lg btn-outline-danger" style="font-size: 2rem; font-weight:700; border-radius: 15px">
                FORT GREEN
            </button>
            <button class="btn btn-lg btn-outline-danger" style="font-size: 2rem; font-weight:700; border-radius: 15px">
                EMPORIUM
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <%= image_tag('website_xingones-05.jpg', width: '100%') %>
    </div>
  </div>
</div>