<div class="jumbotron jumbotron-fluid" id="main-header" >
  <div class="container ">
    <div class="row" style="height: 300px !important">
      <div class="col-md-12 align-self-center">
        <h1 class="text-center" >
          The Menu
        </h1>
      </div>
    </div>
  </div>
</div>
<br/>
<div class="container menu">
  <div class="row">
    <div class="col-xl-12">
      <% if @location.nil? %>
        <div class="menu-card fort-green">
      <% else %>
      <div class="menu-card <%= @location %>">
      <% end %>
        <div class="card-body">
          <div class="text-center">
            <button class="btn btn-lg btn-outline-danger <% if @location.nil? %>active<% elsif @location == 'fort-green' %>active<% end %>" style="font-size: 2rem; font-weight:700; border-radius: 15px"
                    data-reflex="click->ExampleReflex#toggle"
                    data-id="fort-green">
                FORT GREEN
            </button>
            &nbsp;
            <button class="btn btn-lg btn-outline-danger <% if @location == 'emporium' %>active<% end %>" style="font-size: 2rem; font-weight:700; border-radius: 15px"
                    data-reflex="click->ExampleReflex#toggle"
                    data-id="emporium">
                EMPORIUM
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <%= image_tag('website_xingones-05.jpg', width: '100%') %>
    </div>
  </div>
</div>